
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>DoubleStar</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >

				<h1> DoubleStar: Long-Range Attack Towards Depth Estimation based Obstacle Avoidance in Autonomous Systems </h1>
				<div class ="boxed">
					<p> </p>
					<p style="font-size:20px"><a href="papers/">Read the Paper</a>,

					<a href="#bibtex" data-toggle="collapse" role="button">
					Cite <i class="fa fa-quote-right" aria-hidden="true"></i></a>
						<div id="bibtex" style="margin-top: 1.5em;" class="collapse" align="left">
							<pre style="white-space: pre">
@inproceedings{,
    author = {},
    title = {},
    booktitle={},
    year = {},
}
</pre></p></div>
				</div>


				<h1> Team </h1>
					<div class ="boxed" style="margin-top=3em;">
						<p></p>
						<!-- <p>
							Double Star was discovered by the following team of academic researchers:
						</p>
						<ul>
					<li>
						<strong><a href="http://cse.msu.edu/~qyan/">Qiben Yan</a></strong> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
						</ul> -->
								
						<p class="text-center"></p>
						<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
							<div>
									<div style = "height:10px"></div>
						</a>
      				</div>
 </div>
</div>


				<h1>DJI Attack Demonstration<h1>
				<h2>Attack on Flying DJI Drone</h2>
					<p>An attacker uses two projectors to launch DoubleStar at 7m away on a flying DJI drone. A fake depth of 0.5m is created by the attack and detected by the DJI drone as a real obstacle.</p>
				<div class ="boxed">
				<p></p></div>
				<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
					<div>
					<a href="">
					  <img width = "480px" src="Picture1.png" alt="Experiment Photos"  />
					</a>
					</div>
			   </div>
	
				
				<h2>Attack Forward Vison Sensor At Night</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3E081NT3VT8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

				<h2>Attack Backward Vison Sensor during the Daytime</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/VaRDQQMxnXk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				
				<h1>Simulation<h1>
				<h2>DoubleStar Simulation Demo</h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ue4LhXZVzSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		
	
	</body>
</html>
