
<html>
	<head>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1XTFM65VS2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-1XTFM65VS2');
</script>
	<meta charset=“UTF-8”>

		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:400,bold,900,600">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		  <!-- Custom styles for this template -->
 		 <link href="css/custom.css" rel="stylesheet">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
 	 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

		<title>DoubleStar</title>
	</head>
	<body>
		<div class = "global_container">
			<div class = "section"  >		
				<h1> DoubleStar: Long-Range Attack Towards Depth Estimation based Obstacle Avoidance in Autonomous Systems </h1>
				<div class ="boxed">
					<p> We successfully attack two commercial stereo cameras
designed for autonomous systems (ZED and Intel RealSense).
The visualization of fake depth perceived by the
stereo cameras illustrates the false stereo matching induced by
DoubleStar. We further use Ardupilot to simulate the attack
and demonstrate its impact on drones. To validate the attack
on real autonomous systems, we perform a real-world attack
towards a commercial drone. Our attack can continuously and
stealthily bring a flying drone to a sudden stop and generate
false alarms over a long distance under various lighting
conditions. </p>
					<p style="font-size:20px"><a href="papers/"> </a>

					<a href="#bibtex" data-toggle="collapse" role="button">
					  <i class="fa fa-quote-right" aria-hidden="true"></i></a>
						<div id="bibtex" style="margin-top: 1.5em;" class="collapse" align="left">
							<pre style="white-space: pre">
@inproceedings{,
    author = {},
    title = {},
    booktitle={},
    year = {},
}
</pre></p></div>


				<h1> </h1>
					<div class ="boxed" style="margin-top=3em;">
						<p></p>
						<!-- <p>
							Double Star was discovered by the following team of academic researchers:
						</p>
						<ul>
					<li>
						<strong><a href="http://cse.msu.edu/~qyan/">Qiben Yan</a></strong> at <a href="http://seit.egr.msu.edu/">SEIT Lab</a>, <a href="https://www.cse.msu.edu/">Michigan State University</a></li>
						</ul> -->
								
						<p class="text-center"></p>
						<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
							<div>
									<div style = "height:10px"></div>
						</a>
      				
 </div>
</div>


				<h1>Drone Attack Demonstration</h1>
				<h2>Attack on Flying DJI Drone</h2>
					<p>An attacker uses two projectors to launch DoubleStar at 7m away on a flying DJI drone. A fake depth of 0.5m is created by the attack and detected by the DJI drone as a real obstacle.</p>
				<div class ="boxed">
				<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
					<div>
					<a href="">
					  <img width = "480px" src="Picture1.png" alt="Experiment Photos"  />
					</a>
					</div>
			   </div>
					</div>
	
				
				<h3>Attack Forward Vison Sensors at Night</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3E081NT3VT8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div>
				<h3>Attack Backward Vison Sensors during the Daytime</h3>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/VaRDQQMxnXk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div>
				<h3>Drone Attack Verification</h3>					
				<iframe width="560" height="315" src="https://www.youtube.com/embed/wYsgPsVNVrw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				<div>
				<h3>Aiming the Drone in Real-Time Attack</h3>
				<p>Since the minor change of the lens
angle can cause a significant light coverage difference on the
victim side, the attacker can easily track the flying drone by
continuously controlling the aiming angle of the taped lens.
As long as the projection light is injected to the stereo camera,
DoubleStar can always succeed.</p>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/3HKP3rBBoPY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
				<h1>Simulation</h1>
				<h2>Simulation Workflow of DoubleStar</h2>
					<p> We simulate DoubleStar drone attacks using Ardupilot and AirSim. Ardupilot is used for simulating MAVProxy as the ground station, and ArduCopter as the drone. AirSim provides the sensor inputs to the ArduCopter. The user first sends commands to ArduCopter via MAVProxy. Next, ArduCopter sends its states to Airsim, which provides a simulated environment. After that, AirSim sends the sensor inputs back to ArduCopter, and the drone’s OA system processes the received data and makes the flying decisions to avoid the obstacles. </p> 
				<div class ="boxed">
				<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
					<div>
					<a href="">
					  <img width = "480px" src="Picture8.png" alt="Experiment Photos"  />
					</a>
					</div>
			 		</div>
					</div>
					
					
				<h2></h2>
				<iframe width="560" height="315" src="https://www.youtube.com/embed/ue4LhXZVzSY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			<div>
			<h1>Attack Visualization on Stereo Cameras</h1>
				<p> DoubleStar includes two distinctive attack formats: beams attack and orbs attack, which leverage projected light beams and lens flare orbs respectively to cause false depth perception. We can visualize the two attacks through the stereo cameras.</p>
				<h2>Beams Attack</h2>
				<p> An attacker injects the light beams with the same projection intensity using two projectors (i.e., P and Q) into the right and left camera, respectively. It can be observed that one of the injected light sources is brighter than the other one when received by the camera, which becomes a more prominent feature in the image. 
				Such phenomenon causes the depth estimation algorithms to mismatch the two highlighted light sources in the images as the same object due to the weakness in depth perception. As a result, a fake near-distance depth is created in the depth map and visualized in the 3D point cloud. By adjusting the distance between projectors and the stereo camera, as well as the distance between two projectors, different fake obstacle depths can be created.</p>	
				<div class ="boxed">
				<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
					<div>
					<a href="">
					  <img width = "960px" src="Picture3.png" alt="Experiment Photos"  />
					</a>
					</div>
			 		</div>
					</div>
				<h2>Orbs Attack</h2>
				<p> Two lens flare orbs generated by the strong light sources in the stereo images can mislead the depth perception to falsely identify them as a 3D obstacle.</p>
					<div class ="boxed">
				<div class="text-center mt-auto" style="width:100%;margin-top: 1.5em; margin-bottom: 1.5em; display:flex;justify-content:space-around;align-items:center; flex-wrap: wrap;">
					<div>
					<a href="">
					  <img width = "960px" src="Picture4.png" alt="Experiment Photos"  />
					</a>
					</div>
			 		</div>
					</div>	
					
				<div>
	
	</body>
</html>
